doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title= "Sports Blog"
    link(rel="stylesheet", href="/bootstrap-4.1.2/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
  body
    include ./navbar.pug
    br
    #main.container
      block content
      hr
      footer
        p.text-center Sports Blog &copy; 2018
    script(src="/javascripts/jquery/jquery.min.js")
    script(src="/bootstrap-4.1.2/js/bootstrap.bundle.min.js")
    script(src="/javascripts/main.js")