body {
  font-size: large;
}

a {
  color: #00b7ff;
}

button {
  margin-right: 3px;
}

.btn-add {
  margin-top: 10px;
}

#main {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3.5rem;
}

nav {
  font-size: x-large;
}

.navbar-brand {
  font-size: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .showcase {
    background: url("/images/sports-small.jpg") no-repeat 0 130px;
    max-width: 100%;
    min-height: 390px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .showcase {
    background: url("/images/sports.jpg") no-repeat 0 -80px;
    width: 100%;
    min-height: 390px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .float-r {
    float: right !important;
  }
}
