extends ../layout

block content
  h1= title
  br
  form(action='/articles/add', method='post')
    .form-group
      label Article title
      input#article-title.form-control(required='', type='text', name='title')
    .form-group
      label Article description
      input#article-subtitle.form-control(required='', type='text', name='subtitle')
    .form-group
      label Author
      input#article-author.form-control(required='', type='text', name='author')
    .form-group
      label Category
      select.form-control(name="category")
        each category, i in categories
          option(value=`${category._id}`) #{category.title}
    .form-group
      label Body
      textarea#article-body.form-control(required='', type='text', name='body')
    br
    button.btn.btn-primary(type='submit') Submit
    a.btn.btn-outline-secondary(href='/manage/articles') Cancel

