extends ../layout

block content
  .row
    .col-md-7
      h1= title
    .col-md-5
      a(href=`/manage/categories/add` class='btn btn-primary btn-add float-r') Add category
  br
  table.table.table-hover.table-borderless
    thead.thead-dark
      tr
        th(scope='col') #
        th(scope='col') Category
        th
    tbody
      each category, i in categories
        tr
          th(scope='row') #{i + 1}
          td #{category.title}
          td
            a(href=`/manage/categories/edit/${category._id}` class='btn btn-secondary float-right') Edit

