extends ../layout

block content
  h2= title
  hr
  .container
    .row
      .col-md-12
        each category, i in categories
          a(href=`/articles/category/${category._id}`)
            h3.category-title #{category.title}
          br